*{
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.card{
    width: 330px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: hsl(225, 100%, 98%);
    box-shadow: 5px 5px 5px 5px hsl(225, 75%, 77%);
    margin-top: -230px;

}
.hero{
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    margin-top: -10px;
    padding-bottom: 30px;
}
.heading{
    color: hsl(223, 47%, 23%);
}
p{
    color: hsl(224, 23%, 55%);
}
.desc{
    margin-left: 30px;
    padding: 10px;
}

.plan{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.plan-1{
    padding-left:40px ;
    padding-right: 40px;

    .an{
        color: hsl(223, 47%, 23%);
        font-weight: 900;
    }
}

.button{
    background-color: hsl(245, 75%, 52%);
    width: 300px;
    padding: 10px;
    border-radius:10px;
    text-align: center;
    p{
        color: white;
        font-weight: 900;
    }
}

.cancel{
    padding: 20px;
    font-weight: 800;
}
a{
    color: hsl(245, 75%, 52%);
    font-weight: 700;
}

@media (max-width:376px){
    body{
        background-image: url(images/pattern-background-mobile.svg);
        width: 375px;
    }
}

.cancel:hover{
    color: hsl(223, 47%, 23%);
    cursor: pointer;
}
.button:hover{
    background-color: hsl(225, 66%, 71%);
    cursor: pointer;
}
a:hover{
    color:hsl(225, 66%, 71%) ;

}