body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    min-height: 100vh;
}

.card {
    width: 300px;
    background-color: hsl(216, 50%, 16%);
    padding: 20px;
    border-radius: 20px;

    .image-eq {
        border-radius: 15px;
    }

    .header {
        color: hsl(0, 0%, 100%);
    }

    p {
        color: hsl(215, 51%, 70%);
    }

}

.footer img {
    height: 40px;
    border: 2px solid;
    border-radius: 50%;




}

.footer {
    display: flex;
    align-items: center;
}

.header:hover {
    color: cyan;
    cursor: pointer;
}

.name1 {
    color: hsl(0, 0%, 100%);
}

.name1:hover {
    color: cyan;
    cursor: pointer;
}

.eye {
    position: absolute;
    top: 242px;
    right: 460px;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease;
    border-radius: 15px;
    padding: 100px;
}

.eye:hover {
    opacity: 0.4;
    background-color: cyan;


}


@media (max-width:1300px){
    .eye{
        visibility: hidden;
    }
    


}
@media (max-width:376px){
    .eye{
        visibility: visible;
        position: absolute;
        top:54px;
        right:38px;
        transform: translate(0, 0);
        opacity: 0;

    }


}