@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", system-ui;
}


.hero {
    background-image: url("bg-hero-desktop.svg");
    background-color: hsl(193, 100%, 96%);
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
}

nav {
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 90vw;
    justify-content: space-between;
    position: relative;
    height: 100px;
}

.small-bt {
    height: 40px;
    padding: 10px 40px;
    border-radius: 20px;
    font-weight: 800;
    border: none;
    background-color: white;
    z-index: 20;
    box-shadow: 2px 2px 2px 2px rgb(214, 221, 231);
    position: relative;
}

.info {
    width: 400px;
}

.pra-info {
    color: hsl(192, 100%, 9%);
    font-weight: 600;
}

h1 {
    color: hsl(192, 100%, 9%);
    margin-bottom: 10px;
}

.main-bt {
    background-color: hsl(322, 100%, 66%);
    padding: 20px 70px;
    border-radius: 30px;
    border: none;
    color: white;
    font-weight: 700;
    margin-top: 20px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.box-a {
    box-shadow: 2px 2px 2px 2px grey;
    display: flex;
    max-width: ;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    justify-content: space-around;
    margin-top: 30px;
    padding: 20px 10px;


}

.info-c {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.mid {
    margin-top: 100px;
}

.stickey-compo {
    width: 60vh;
    margin: auto;
    padding: 20px 30px;
    text-align: center;
    border-radius: 20px;
    position: relative;
    top: 70px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgb(231, 237, 242);

}

.footer {
    background-color: hsl(192, 100%, 9%);
    padding: 60px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

}

.info-a {
    display: flex;
    flex-direction: column;
}
.abc{
    height: 450px;
}

span {
    display: flex;
    align-items: center;

    img {
        margin-right: 10px;
    }

    margin-top: 10px;
}

.footer-a {
    padding: 10px;
    color: white;

    a {
        text-decoration: none;
        color: white;
    }


}

.copy {
    display: flex;
    justify-content: flex-end;
}

.social {
    filter: invert(1);
    margin-left: 10px;
}

.cont-a {
    margin-top: 20px;
}

.small-bt:hover {
    cursor: pointer;
    color: grey;
}


.main-bt:hover {
    cursor: pointer;
    background-color: hsl(322, 89%, 79%);
}

a:hover {
    cursor: pointer;
    text-decoration: underline;

}

.social:hover {
    cursor: pointer;
    filter: invert(65%) sepia(100%) saturate(500%) hue-rotate(-100deg) brightness(100%) contrast(90%);



}


@media (max-width:850px){
    .hero{
        background-image: url("bg-hero-mobile.svg");
        background-position: center center;
        
       }
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info {
        width: 300px;
    }

    .logo{
        height: 20px;
    }
    .small-bt {
        height: 40px;
        padding: 10px 30px;
        border-radius: 20px;
    }
    
   .header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .abc{
    height: 250px;
    margin-top: 30px;
   }

   .box-a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
   }

  
   .mid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

   .footer {
    background-color: hsl(192, 100%, 9%);
    padding: 60px 40px;
    display: grid;
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 100px;

}

.info-a{
    margin-top: 20px;
    a{
        margin-top: 20px;
    }
}

.info-b{
    margin-top: 20px;

}

.copy{
    justify-content: flex-start;
    margin-left: 40px;
}

.stickey-compo {
    width: 260px;
    margin: auto;
    padding: 10px 20px;

}



   

 


   
   
}
    


