body {
    background-color:hsl(229, 57%, 11%);
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    position: relative;
    top: 150px;
}
.fylo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    width: fit-content;
    background-color:hsl(228, 56%, 26%);
    border-top-right-radius: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding:25px;
}

.memory-container{
    background:linear-gradient(135deg,hsl(228, 56%, 26%),rgb(30, 30, 138)) ;
    /* width: 500px; */
    padding: 1.5em;
    border-radius: 10px;
    height: 80px;
    margin-top: 40px;
    margin-left: 30px;

    p{
        color:hsl(229, 7%, 55%) ;
        font-weight: 600;
    }
    span{
        display:flex;
        
        .b{
            font-weight: 600;
            margin-left: 400px;
            margin-top: -2px;
            
        }
        .a{
            font-weight: 600;
            margin-top: -1px;
        }
        
    }
}
.progress-bar{
    width: 100%;
    appearance: none;
    background-color:transparent;
    cursor: pointer;
}
.progress-bar::-webkit-slider-runnable-track{
    background:linear-gradient(90deg,hsl(6, 100%, 80%) ,hsl(335, 100%, 65%));
    border-radius: 100px;
    height: 1rem;
}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: white;
    border-radius: 50%; 
}

.gb-left{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 150px;
    padding: 5px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
    top: -40px;
    left: 300px;

    .dark{
        color:hsl(229, 57%, 11%) ;
        margin-right: 5px;
    }
    .light{
        font-weight: 600;
        opacity: 0.8;
    }
}
.img-desk{
  img{
    width: 1519px;
    height: 400px;
    margin-bottom: -120px;
  }
}

@media (max-width:900px){
    body{
        place-self: center;
        background-image: url("bg-mobile.png");
        background-size: cover;
        background-position: top;
        
    }
    .container{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: -50px;
    }
    .memory-container{
        width:270px;
        align-items: center;
        margin-left: 0;
    }
    .memory-container span{
        
        .b{
            margin-left: 200px;
        }
    }
    .fylo{
        width: 250px;
    }
    .gb-left{
        width: fit-content;
        position: absolute;
        left:110px;
        top: 450px;
        border-bottom-right-radius: 20px;
        
    }
    .img-desk{
        display: none;
    }
}
